{% extends 'base.html' %}
{% block cssname %}rel="stylesheet" href="static/css/style-about.css"{% endblock cssname %}

{% block title %}Image Editor{% endblock title %}
{% block contact %}
        <div class="main">
            <div class="head">
             <h1>About Us</h1>
             <p class="intro">
              Welcome to our simple and intuitive Image Editor! With our tool, you can easily crop, resize, flip, and rotate your images to perfection.
                </p>
            </div>
                     
            <div class="fea-box">
                <h2>Key Features</h2>
                <div class="features">
                    <div class="feature">
                        <img class="img1" src="static/img/croptool.png" alt="">
                        <p>Effortless Cropping</p>
                    </div>
                    <div class="feature">
                         <img class="img2" src="static/img/resizeicon.png" alt="" srcset="">
                         <p>Easy Resizing</p>
                    </div>
                    <div class="feature">
                        <img class="img3" src="static/img/hor-flip.png" alt="" srcset="">
                        <p>Quick Flipping</p>
                    </div>
                    <div class="feature">
                        <img class="img4" src="static/img/Clock.png" alt="" srcset="">
                        <p>Convenient Rotation</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <h2>Our Team</h2>
                <div class="members">
                    <div class="member">
                        <div class="image"> <img src="static/img/manish.jpg" alt=""></div>
                        <h3 class="name">Manish Dhakar</h3>
                        <p class="post">CEO/Founder</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/raghvendra.jpg" alt=""></div>
                        <h3 class="name">Raghvendra Singh</h3>
                        <p class="post">Business Development Manager</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/piyush.jpg" alt=""></div>
                        <h3 class="name">Piyush Shivnani</h3>
                        <p class="post">Marketing Director</p>
                    </div>
                </div>
                <div class="members">
                    <div class="member">
                        <div class="image"> <img src="static/img/shaurya.jpg" alt=""></div>
                        <h3 class="name">Shaurya Teotia</h3>
                        <p class="post">Project Manager</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/avirat.jpg" alt=""></div>
                        <h3 class="name">Avirat Tak</h3>
                        <p class="post">Image Processing Engineer</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/saurabh.jpg" alt=""></div>
                        <h3 class="name">Saurabh Kumar</h3>
                        <p class="post">UI/UX Designer</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/rajat.jpg" alt=""></div>
                        <h3 class="name">Rajat Mangal</h3>
                        <p class="post">Content Marketing Manager</p>
                    </div>
                </div>
                <div class="members">
                   
                    <div class="member">
                        <div class="image"> <img src="static/img/devesh.jpg" alt=""></div>
                        <h3 class="name">Devesh sattavan</h3>
                        <p class="post">Full-stack Developer</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/tarun.jpg" alt=""></div>
                        <h3 class="name">Tarun Saraswat</h3>
                        <p class="post">Front-end Developer</p>
                    </div>
                    <div class="member">
                        <div class="image"> <img src="static/img/bharat.jpg" alt=""></div>
                        <h3 class="name">Bharat Sirvi</h3>
                        <p class="post">Back-end Developer</p>
                    </div>
                </div>
            </div>
        </div> 
{% endblock contact %}

