*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .container{
    padding: 0 47px;
  }
  .navbar{
    display:flex;
    justify-content: space-between;
    padding: 12px 20px;
  }
  .leftnav{
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bolder;
    gap: 5px;
  }
  .rightnav{
    display: flex;
    align-items: center;
    gap:5px;
    list-style: none;
  }
   .rightnav a{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    width: 140px;
    padding: 10px 65px;
    color: black;
    display: flex;
    justify-content: center;
  }
 
    /* dropdown html  */
    .dropdown{
      display: none;
      position: absolute;
      right: 356px;
      top: 58.19px;
      padding-top: 16px;
      z-index: 1;
      background-color: rgb(253, 253, 253);
    }
    .dropdown-symbol{
    rotate: -90deg;
    transition: transform 0.3s ease;
    }
    .dropdown a{
    text-decoration: none;
      font-size: 1rem;
      font-family: 'Space Grotesk', sans-serif;
      text-decoration: none;
      border-radius: 1px;
      width: 139px;
      border-radius: 8px;
      padding: 12px 35px;
      color: rgb(0, 0, 0);
      
      display: flex;
      /* background-color: rgba(131, 187, 236, 0.529); */
      justify-content: center;
      opacity: 80%
    }
    .dropdown li{
     list-style: none;
    }
    #drop:hover .dropdown{
    display: flex;
    flex-direction: column;
    justify-content: end;
    }
    #drop:hover .dropdown-symbol{
    transform: scaleX(-1);
    }
    #drop:hover .main{
           background-color: black;
      }
    #drop:hover #s{
    background-color: rgba(27, 164, 255, 0.152);
    }
    .dropdown a:hover{
    opacity: 100%;
    background-color: rgba(10, 66, 101, 0.721);
    color: white;
    }
    #s{
    display: flex;
    gap: 9px;
    }
    /* dropdown html  */
  #co{
    background-color: rgba(27, 164, 255, 0.152);
    border: 2px solid rgba(54, 170, 247, 0.388) ;
  }
  
  #h:hover,#s:hover,#a:hover,#co:hover{
    background-color: rgba(27, 164, 255, 0.152);
  }
  hr{
    opacity: 25%;
  }
  .main{
    width: 100%;
    height: 668px;
    opacity: 70%;
  }
  .main h1{
    font-size: 1.8rem;
    font-family: 'Space Grotesk', sans-serif;
    margin: 23px 210px;
  }
  .contact-from{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 40%;
    left: 670px;
    top: 117px;
  }
  .contact-from input{
    margin-bottom:15px;
    border-radius: 5px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding: 10px 10px;
  }
  .contact-from label{
    font-family: sans-serif;
    font-size: 1rem;
  }
  .contact-from textarea{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding: 10px 10px;
  }
.submit{
    margin: 10px 0px;
    width: 120px;
    background-color: #4CAF50;
    color: white;
}
.submit:hover{
    cursor: pointer;
    background-color: #2e9333;
}
